/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/08/2015, 3:50:49 PM
    Author     : Gus
*/

table {
    width: 100%;
}
  
  .mdl-progress_appointment {
      margin-left: auto;
      margin-right:auto;
  }
  .mdl-textfield{
      width: 100% !important;
  }
  
  .demo-card-wide{
       width: 94%; 
       margin: 3%;
  }
  
  .customer-main-content {
      width: 96%;
      padding: 2%;
  }